---
import Layout from '../layouts/Layout.astro'
import Hero from '@/components/Hero.astro'
import Section from '@/components/Section.astro'
import People from '@/components/People.astro'
import DressCode from '@/components/DressCode.astro'
import Contact from '@/components/Contact.astro'
import Footer from '@/components/Footer.astro'
import InfoCard from '@/components/InfoCard.astro'

// Icons
import Separator from '@/components/icons/Separator.astro'
---

<Layout title='Te invito a mis XV años' description=''>
  <div class='w-4/5 mx-auto pt-10'>
    <Hero />

    <!-- Date section -->
    <section class='mt-20 text-center lg:hidden' ata-taos-offset="300">
      <div class='mb-6 flex justify-center'>
        <Separator />
      </div>
      <h3 class='mb-2 flex flex-col gap-y-1.5 font-parisienne'>
        <span class='gradient-title text-6xl'>27</span>
        <span class='text-3xl'>Abril - 2024</span>
      </h3>
      <p>
        Me encantaría compartir la emoción de mis XV años contigo. Tu presencia
        hará que este día sea aún más especial.
      </p>
    </section>

    <!-- Location section -->
    <Section titleSection='Sede del festejo'>
      <div
        class='realtive flex flex-col gap-x-8 justify-center gap-y-12 md:flex-row delay-[300ms] duration-[600ms] taos:translate-x-[200px] taos:opacity-0'
        data-taos-offset="200"
        slot="content"
      >
        <InfoCard
          title='Ceremonia Religiosa'
          nameIcon='Church'
          hour='5:00pm'
          place='Capilla Hacienda Bakal'
          location='Leon, Gto.'
          locationMaps='https://www.google.com/maps/place/Hacienda+Bakal,+37683+León+de+los+Aldama,+Gto./@21.031889,-101.5479452,17z/data=!4m6!3m5!1s0x842b97a479518705:0x7280bd250b54bb88!8m2!3d21.031889!4d-101.5479452!16s%2Fg%2F11vbyjgmw2'
        />
        <InfoCard
          title='Recepción'
          nameIcon='Cheers'
          hour='7:00pm'
          place='Hacienda Bakal'
          location='Leon, Gto.'
          locationMaps='https://www.google.com/maps/place/Hacienda+Bakal,+37683+León+de+los+Aldama,+Gto./@21.031889,-101.5479452,17z/data=!4m6!3m5!1s0x842b97a479518705:0x7280bd250b54bb88!8m2!3d21.031889!4d-101.5479452!16s%2Fg%2F11vbyjgmw2'
        />
      </div>
    </Section>

    <!-- People section -->
    <Section titleSection='Mis Padres y Padrinos'>
      <People slot='content'/>
    </Section>
  </div>

  <!-- other info section container -->
  <div
    class='pt-28 mt-32 relative bg-gradient-to-b from-secundary/80 via-secundary/10 to-secundary/0'
    style='clip-path: polygon(49% 8%, 100% 0, 100% 100%, 0 100%, 0 0);'
  >
    <div class='w-4/5 mx-auto pt-10'>
      <!-- Dress code -->
      <DressCode/>
      <!-- Confirm section -->
      <Contact/>
    </div>
    <!-- footer -->
    <Footer/>
  </div>
</Layout>
