---
import Clothes from "./icons/Clothes.astro";
---

<section class='text-center delay-[100ms] duration-[300ms] taos:translate-y-[-200px] taos:opacity-0' data-taos-offset="200">
  <h3 class='mb-6 text-4xl lg:text-5xl font-parisienne'>
    Código de Vestimenta
  </h3>
  <span class='inline-block'>
    <Clothes />
  </span>
  <p class='md:text-lg mt-5 md:max-w-[468px] mx-auto'>
    La etiqueta es “Formal”. No hay reglas estrictas, simplemente siéntete
    bien. ¡Espero verte!
  </p>
</section>