<main class='flex justify-center animate-fade-up'>
  <div
    class='absolute top-[10%] -left-[10%] w-80 lg:w-96 lg:-top-10 lg:left-2/3 aspect-square rounded-full bg-primary blur-[120px]'
  >
  </div>
  <article
    class='grid lg:grid-cols-3 lg:gap-8 lg:items-center relative text-center'
  >
    <h1
      class='gradient-title text-4xl lg:text-5xl font-parisienne lg:col-span-3'
    >
      Mis XV años
    </h1>

    <h3 class='hidden lg:inline gradient-title text-4xl font-parisienne'>
      27 Abril 2024
    </h3>
    <picture
      class='my-4 max-w-[280px] inline-block rounded-t-full overflow-hidden border border-gray-400 p-1'
    >
      <img
        class='max-w-full rounded-t-full object-cover'
        src='./princess.webp'
        alt='Princesa'
      />
    </picture>

    <div class='relative'>
      <img
        src='./flower.webp'
        class='absolute top-2 lg:-top-3 -left-2 lg:left-4 w-10'
        alt='Flores colorias'
      />
      <img
        src='./flower.webp'
        class='absolute top-2 lg:top-9 -right-2 lg:-right-16 w-10'
        alt='Flores colorias'
      />
      <h2
        class='flex flex-col font-parisienne text-[28px] lg:text-3xl xl:text-4xl text-text-dark'
      >
        <span class='lg:self-end lg:relative lg:left-8'>Victoria Dairelyn</span>
        <span class='lg:self-start'>Hernández Ramírez</span>
      </h2>
    </div>
    <p class='hidden text-lg lg:inline lg:col-span-3 lg:max-w-3xl lg:mx-auto'>
      Me encantaría compartir la emoción de mis XV años contigo. Tu presencia
      hará que este día sea aún más especial.
    </p>
  </article>
</main>
