---
import Separator from '@/components/icons/Separator.astro'
import InfoCard from '@/components/InfoCard.astro'

interface Props {
  titleSection?: string
}

const { titleSection } = Astro.props

const gridColsClass = titleSection ? 'lg:grid-cols-[25%_1fr_25%]' : 'lg:grid-cols-1'
---

<section class='relative mt-32 text-center'>
  <slot name="decoration"></slot>

  <div class={`relative mb-6 lg:grid ${gridColsClass} lg:justify-center lg:items-center`}>
    <div class='mb-5 inline-flex justify-center'>
      <Separator />
    </div>
    {
      titleSection && (
          <h3
          class='gradient-title mb-1 font-parisienne text-4xl leading-[50px] lg:leading-[70px] lg:text-5xl delay-[100ms] duration-[300ms] taos:scale-[0.6] taos:opacity-0'
          data-taos-offset='100'
        >
          {titleSection}
        </h3>
        <div class='hidden lg:inline-flex'>
          <Separator />
        </div>
      )
    }
  </div>

  <slot name='content'></slot>
</section>
