---
interface Props {
  title: string
}

const { title } = Astro.props
const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <slot />
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: dark;
  }

  @font-face {
		font-family: 'Parisienne';
  	font-style: normal;
  	font-weight: 400;
		font-display: swap;
  	src:
    local("Parisienne"),
			url("/fonts/Parisienne.woff2") format("woff2"),
			url("/fonts/Parisienne.ttf") format("truetype");
  }

  @font-face {
		font-family: 'Poppins';
  	font-style: normal;
  	font-weight: 400;
		font-display: swap;
  	src:
    local("Poppins"),
			url("/fonts/Poppins-Regular.woff2") format("woff2"),
			url("/fonts/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
		font-family: 'Poppins';
  	font-style: normal;
  	font-weight: 300;
		font-display: swap;
  	src:
    local("Poppins"),
			url("/fonts/Poppins-Light.woff2") format("woff2"),
			url("/fonts/Poppins-Light.ttf") format("truetype");
  }

  @font-face {
		font-family: 'Poppins';
  	font-style: normal;
  	font-weight: 500;
		font-display: swap;
  	src:
    local("Poppins"),
			url("/fonts/Poppins-Medium.woff2") format("woff2"),
			url("/fonts/Poppins-Medium.ttf") format("truetype");
  }

  @font-face {
		font-family: 'Poppins';
  	font-style: normal;
  	font-weight: 600;
		font-display: swap;
  	src:
    local("Poppins"),
			url("/fonts/Poppins-SemiBold.woff2") format("woff2"),
			url("/fonts/Poppins-SemiBold.ttf") format("truetype");
  }

  html {
    font-family: 'Poppins', system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }

  .min__height-dynamic {
    min-height: 100vh;
    min-height: 100dvh;
  }
</style>
