---
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
const { currentLocale } = Astro
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>
  </head><body>
    <div
      class='min__height-dynamic min-w-80 max-w-[2440px] bg-background-body text-text-dark overflow-hidden'
    >
      <slot />
    </div>

    <script src='https://unpkg.com/taos@1.0.5/dist/taos.js'></script>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }

  @font-face {
    font-family: 'Parisienne';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local('Parisienne'),
      url('/fonts/Parisienne.woff2') format('woff2'),
      url('/fonts/Parisienne.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local('Poppins'),
      url('/fonts/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src:
      local('Poppins'),
      url('/fonts/Poppins-Light.woff2') format('woff2'),
      url('/fonts/Poppins-Light.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src:
      local('Poppins'),
      url('/fonts/Poppins-Medium.woff2') format('woff2'),
      url('/fonts/Poppins-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src:
      local('Poppins'),
      url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  }

  html {
    font-family: 'Poppins', system-ui, sans-serif;
    background: #13151a;
    background-size: 224px;
  }

  .min__height-dynamic {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .gradient-title {
    background-color: #262730;
    background-image: linear-gradient(180deg, #ec9399 5%, #000 95%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  p {
    text-wrap: balance;
  }

  h1,
  h2,
  h3 {
    text-wrap: pretty;
  }

  .btn__sline-in {
    will-change: filter;
    transition: filter ease-out 100ms;
  }

  .btn__sline-in:before {
    content: '';
    width: 0;
    height: calc(100% + 1px);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffa5a5;
    will-change: width;
    z-index: -1;
    transition: width ease-out 300ms;
  }

  .btn__sline-in:hover::before {
    width: 100%;
  }

  .btn__sline-in:hover {
    filter: drop-shadow(0 0 0.75rem #ffa5a5);
  }
</style>
